#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Fedora Remix Apps
GenericName=Fedora Remix Apps
X-GNOME-FullName=Fedora Remix Apps
Exec=/opt/FedoraRemix/Fedora_Remix_Customize.sh
Terminal=false
Icon=/usr/share/icons/fedora_tools_logo.png
Type=Application
StartupNotify=true
Categories=System;
Name[en_US]=Fedora Remix Apps
